.code-guides-app {
  font-size: 2rem;
  font-family: "Roboto Light", sans-serif;
  text-align: center;

  header {
    padding: 1rem 0;
    color: darkblue;
    background-color: bisque;

    > h1 {
      margin: 0;
      font-size: 3.5rem;
    }
  }

  .content {
    padding: 2rem 0;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    color: white;
    background-color: darkcyan;

    > h2 {
      margin: 0;
      font-size: 3rem;
      letter-spacing: 1rem;
    }
  }

  button {
    display: block;
    width: 30rem;
    margin: 2rem auto;
    padding: 0.5rem 0;
    color: yellow;
    letter-spacing: 0.2rem;
    background-color: darkslateblue;
    border: none;
    border-radius: 1rem;
    outline: none;

    &:hover {
      color: white;
      background-color: darkcyan;
    }

    > a {
      color: yellow;
      text-decoration: none;
    }
  }
}
